<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a product</title>
</head>
<body>
    <h1>Add a new product</h1>
    <form method="post" action="/products">
        <input type="text" placeholder="Products name" name="name" id="name" required />
        <input type="number" placeholder="Products price" name="price" id="price" required />
        <select name="category" id="category">
            <option value="fruit">Fruit</option>
            <option value="vegetable">Vegetable</option>
            <option value="diary">Diary</option>
        </select>
        <button>Add Product</button>
    </form>
</body>
</html>